
APScheduler==3.2.0
argcomplete==1.4.1
arrow==0.8.0
beautifulsoup4==4.5.1
boxsdk==1.5.3
chardet==2.3.0
click==6.6
croniter==0.3.12
EbookLib==0.15
enum34==1.1.6
Flask==0.11.1
Flask-Session==0.3.0
Flask-Cors==3.0.2
funcsigs==1.0.2
futures==3.0.5
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.4
MarkupSafe==0.23
pdfminer==20140328
Pillow==3.3.1
pycrypto==2.6.1
PyJWT==1.4.2
python-dateutil==2.5.3
python-docx==0.8.6
python-pptx==0.6.0
pytz==2016.6.1
redis==2.10.5
requests==2.11.1
requests-toolbelt==0.7.0
rq==0.6.0
rq-dashboard==0.3.7
rq-scheduler==0.7.0
rq-scheduler-dashboard==0.0.1
six==1.10.0
SpeechRecognition==3.4.6
textract==1.4.0
tzlocal==1.2.2
Werkzeug==0.11.11
xlrd==1.0.0
XlsxWriter==0.9.3
